.login-page{
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}
h1{
    color: #5aff51;
}
.logo{
    width: 20%;
    height: 40%;
    border-radius: 25%;
}
.login-btn{
    width: 200px;
    padding: 15px 0px;
    text-align: center;
    background-color: #5aff51;
    border-radius: 50px;
    color: #1f1f1f;
    font-weight: 900;
    margin-top: 20%;
    font-size: 20px;
}
a{
    text-decoration: none;
}