.player-body{
    width: 100%;
    height: 44%;
    margin: 3% 0%;
}
.left-player-body{
    width: 37%;
}
.right-player-body{
    width: 63%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.song-title{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    color: #c4d5e3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.song-artists{
    color: #9aa9c2;
    font-size: 24px;
    font-weight: 500;
}
.song-right-bottom{
    align-items: center;
    width: 100%;    
    flex-direction: column;
}
.song-duration{
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.duration{
    font-size: 20px;
    font-weight: 700;
    margin-left: 25px;
    color: #c4d0e3;
}